:root{
  --blue1:#e4f3fd;
  --blue2:#B6DBF2;
  --blue3:#5e9bc2;
}
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

body {
  margin: 0;
  background-color: var(--blue1);
}

header{
  height:32px;
  position:fixed;
  background-color: white;
  text-align: center;
}
#headerUpper{
  width:100vw;
  display:flex;
  justify-content:space-between;
}

#headericon{
  padding:5px;
}

#headerSearch{
  display:flex;
  padding:4px;
}
#searchbar { 
  width:250px;
  height:22px;
  border:1px solid var(--blue2);  
}
#searchicon{
  padding:2px;
  width:34px;
  height:20px;
  border:1px solid var(--blue2);
  font-size: 15px;
}

#headerNav{
  right:0;
}





}






#test {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
